button {
  margin: 12px;
  height: 40px;
  width: 100px;
  border-radius: 8px;
  background-color: #382f5a;
  border: 1px solid #c4c4c4;
  color: #d4d2db;
  font-weight: bold;
  font-size: large;
  text-align: center;
}
li {
  list-style: none;
}
