.center {
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card {
  background-color: #150b3e;
  background-size: cover;
  color: #d4d2db;
  margin: 10px;
  padding: 8px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.profile {
  background-color: #c7d2fe;
  color: #7c3aed;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  font-size: 20px;
  padding: 10px;
  text-align: center;
  display: inline-block;
  margin-right: 10px;
}
.c-1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.c-2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.c-3 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
